<div class="media">
  <div class="media-left">
    <%= link_to gallery.user do %>
    <% end %>
  </div>
  <div class="media-body">
    <%= simple_format gallery.body %>
    <strong>Posted by <%= link_to gallery.user.username, gallery.user, class: "btn btn-default" %> <%= link_to "#{time_ago_in_words(chirp.created_at)} ago", chirp %>
      <% if gallery.is_owner? current_user %>
        <%= button_to "EXTERMINATE!!", chirp, method: :delete, class: "btn btn-danger" %>
      <% end %>
    </strong>
  </div>
</div>
